<table class="table table-sm">
  <tr>
    <td>Charges</td><td align="right" style="padding-right: 20px;"><%= entries.count %></td>
  </tr>
  <tr>
    <td colspan="2">Honours</td>
  </tr>
  <tr>

    <td colspan="2">
      <% if honours %>
          <ul style="font-size: 0.8rem;">
            <% honours.each do |h| %>
                <li><%= h.html_safe %></li>
            <% end %>
          </ul>
      <% end %>
    </td>
  </tr>
  <tr></tr>
  <% entries.each do |entry| %>
      <tr>
        <td colspan="2" style="font-size: 0.8rem;">
          <a href="<%= entry_path(entry)%>"><%= entry.charge.ref %></a>
          Raised <b>$<%= number_with_precision(entry.raised_dollars, precision: 0, delimiter: ',') %></b>,
          <% if entry.result_description=='Complete' %>
              completed in
              <b><%= number_with_precision(entry.dist_competition/1000.0, precision: 0, delimiter: ',') %>km</b>
          <% else %>
              <b><%= entry.result_guards %></b> checkpoint<%= entry.result_guards>1 ? 's' : '' %>
          <% end %>, placed
          <b><%= format_position(entry.position_distance.nil? ? entry.position_bikes : entry.position_distance) %></b> out of <b><%= entry.charge.entries.count %></b>
        </td>
      </tr>
  <% end %>

  <tr>
    <td></td><td></td>
  </tr>
  <tr>
    <td></td><td></td>
  </tr>
  <tr>
    <td></td><td></td>
  </tr>

  <tr>
    <td></td><td></td>
  </tr>
</table>