
<div class="card">

  <div class="card-header">
    <a href="<%= team_path team %>"><h6><%= team.long_name %></h6></a>
  </div>

  <div class="card-block" style="padding:5px;">
    <%
      photo=team.photo_random_landscape
      p=render :partial => 'photos/photo', :locals => {:photo => photo}
    %>
    <%=
      if photo
        link_to p,photo_path(photo) + '?return=' + request.path
      else
        p
      end
    %>
  </div>

  <div class="card-block" style="text-align: center;padding-top:0px;">
    <% if team.new_entry? %>
      A new team for the <b><%= team.first_charge.name%></b> captained by <b><%= team.captain%></b>
    <% else %>
      Entered <%= team.entries_complete.count>1 ? '<b>'.html_safe + team.entries_complete.count.to_s + '</b>'.html_safe + ' charges since ':' in ' %><b><%= team.first_charge.ref%></b>
      raising <b>$<%= number_with_precision(team.raised_dollars, precision: 0, delimiter: ',') %></b>
    <% end %>
  </div>
</div>
