
<div class="modal" id="imageModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 id="modalTitle"/>
      </div>
      <div class="modal-body">
        <img id="modalImageElement" src="assets/clear.gif" style="margin:auto;display:block;background: url(assets/loading.gif) 50% no-repeat;"/>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <% @teams.each_with_index do |team,i| %>
      <div class="col-xs-12 col-sm-6 col-md-3 ">
        <div class="card">
          <a href="<%= team.ref %>">
          <div class="card-header">
            <h5><%= team.long_name %></h5>
          </div>
          </a>
          <div class="card-block" >
            <% photo=team.photo_random_landscape() %>
            <div class="image-container">
              <a onclick="showModal(this)" data-image="<%= photo[:url_original]%>" data-description="<%= photo[:description]%>">
                <%= image_tag photo[:url_medium],:class=>'rounded' %>
              </a>
            </div>
          </div>
          <div class="card-block" >
            Entered <%= team.entries.count>1 ? '<b>'.html_safe + team.entries.count.to_s + '</b>'.html_safe + ' charges since ':' in ' %><b><%= team.first_charge.ref%></b>
            raising <b>$<%= number_with_precision(team.raised_dollars, precision: 0, delimiter: ',') %></b>.
          </div>
        </div>
      </div>
      <% if (i+1)%4==0 %>
        </div>
          <div class="clearfix hidden-sm-up"></div>
        <div class="row">
      <% end %>
  <% end %>
</div>

