<% title(@team.long_name) %>

<% breadcrumb [["teams", "Teams"], [team_path(@team).sub!('/', ''), @team.name]] %>

<%
  description=''

  if @team.entries_incomplete.count>0
    description+=@team.long_name + ' are entered in the ' + @current_charge.long_name + '. '
  end

  if @entries.count>0
    description+= @team.long_name + ' have entered ' + @entries.count.to_s + ' Elephant Charge' + (@entries.count>1 ? 's' : '') + ' since '
    description+= @entries.last.charge.ref + ' raising '
    description+= '$' + number_with_precision(@team.raised_dollars, precision: 0, delimiter: ',') + ' for conservation in Zambia.'
  end

  content_for :metas,
              (render :partial => 'layouts/metas', :locals => {
                  :page_title => 'Elephant Charge - ' + @team.long_name + ' Team',
                  :description => description,
                  :og_image_path => image_path(@team.badge(:original)).split("?")[0]
              })
%>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <div class="card">
        <div class="card-header">
          <h5 style="display:inline-block;"><%= @team.long_name %></h5>
          <div style="float:right;display: block;">
            <a data-toggle="tooltip" data-placement="bottom" title="Results" href="<%= team_path(@team) %>"><img style="margin-left:10px;" src="<%= image_path('icons/color/results.png') %>"></a>
            <a data-toggle="tooltip" data-placement="bottom" title="Photo Gallery" href="<%= team_photos_path(@team) %>"><img style="margin-left:10px;" src="<%= image_path('icons/grey/camera.png') %>"></a>
          </div>
          <div style="margin-bottom:5px;">
            <%= render :partial => 'application/fbbuttons' %>
          </div>

        </div>
        <div class="card-block">
          <div class="container-fluid">
            <% if @team.entries_incomplete.count>0 %>
                <div class="row highlight">
                  <div class="col" style="text-align: center;">
                    <b><%= @team.long_name %> </b> are entered in the
                    <a href="<%= charge_path(@current_charge) %>"><%= @current_charge.name %></a>
                    <% if @team.paypal_button %>
                        <br/><span style="font-size: small">Support the team and conservation in Zambia by making a donation through PayPal</span>
                    <% end %>
                  </div>
                  <% if @team.paypal_button %>
                      <div class="col-sm-3 col-md-2" style="display: inherit;margin-top:auto;margin-bottom:5px;">
                        <div class="mx-auto d-block" data-toggle="tooltip" data-team-ref="<%= @team.ref %>" data-team-id="<%= @team.id %>" data-placement="bottom" title="Support the team and wildlife conservation in Zambia">
                          <%= @team.paypal_button.sub!("form", "form id='paypal_form'").html_safe %>
                        </div>
                      </div>
                  <% end %>
                </div>
            <% end %>

            <div class="row">
              <div class="col-sm-4">
                <% if @team.badge.exists? %>
                    <img style="max-width:100%;" class="rounded mx-auto d-block" src="<%= image_path(@team.badge(:medium)) %>">
                <% else %>
                    <img style="max-width:80%;" class="rounded" src="<%= image_path('logo/eclogo_orange.png') %>">
                <% end %>
              </div>
              <div class="col-sm-8">
                <% unless @team.new_entry? %>
                    <p>
                      <b><%= @team.long_name %></b> have entered <b><%= @entries.count %></b>
                      charge<%= @entries.count>1 ? 's' : '' %> since
                      <b><%= @entries.last.charge.ref %></b>
                      <% if @team.finish_count>0 %>
                          , completing the course
                          <% if @team.finish_count>1 %>
                              <b><%= @team.finish_count %></b> times
                          <% else %>
                              once
                          <% end %>
                          and
                      <% end %>
                      raising
                      <b>$<%= number_with_precision(@team.raised_dollars, precision: 0, delimiter: ',') %></b> for
                      conservation in
                      Zambia.
                    </p>
                    <p>
                      The team's best leg was <%= render 'entry_legs/description', entry_leg: @best_leg %>
                    </p>
                <% else %>
                    <p>
                      A new team entered in the <b><%= @team.first_charge.name %></b> captained by
                      <b><%= @team.captain %></b>.
                    </p>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <% if @honours %>
                    <p>
                    <ul>
                      <% @honours.each do |h| %>
                          <li><%= h.html_safe %></li>
                      <% end %>
                    </ul>
                    </p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% @entries.each do |entry| %>
          <div class="card">
            <div class="card-header">
              <h6><a href="<%= entry_path(entry) %>"><%= entry.charge.long_name %></a></h6>
            </div>
            <div class="card-block">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-8">
                    Entered in a <%= entry.car.description %> as car <b>no <%= entry.car_no %></b>.
                    Raised <b>$<%= number_with_precision(entry.raised_dollars, precision: 0, delimiter: ',') %></b>,
                    <% if entry.result_description=='Complete' %>
                        completed the course in a distance of
                        <b><%= number_with_precision(entry.dist_competition/1000.0, precision: 0, delimiter: ',') %>
                          km</b>
                    <% else %>
                        completed <b><%= entry.result_guards %></b> checkpoint<%= entry.result_guards>1 ? 's' : '' %>
                    <% end %>
                    and were placed
                    <b><%= format_position(entry.position_distance.nil? ? entry.position_bikes : entry.position_distance) %></b> out of <b><%= entry.charge.entries.count %></b> entires
                    overall.
                    <ul style="margin-top: 15px">
                      <% entry.result_summary.each do |res| %>
                          <li>
                            <%= res %>
                          </li>
                      <% end %>
                    </ul>
                  </div>
                  <div class="col-md-4">
                    <%
                      photo=entry.photo_random_landscape
                      p=render :partial => 'photos/photo', :locals => {:photo => photo}
                    %>
                    <%=
                      if photo
                        link_to p, photo_path(photo) + '?return=' + request.path
                      else
                        p
                      end
                    %>

                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>

    <!-- Page right -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="card">
        <div class="fb-comments" data-width="100%" data-href="<%= request.original_url %>" data-numposts="5"></div>
      </div>
      <% unless @team.new_entry? or !@team.facebook.blank? %>
          <%= render :partial => 'teams/beneficiaries', :locals => {:team => @team, :wide => false} %>
      <% end %>
      <% unless @team.facebook.blank? %>
          <div id="fb-page" class="fb-page" data-href="<%= @team.facebook %>" data-tabs="timeline" data-width="550" data-height="550" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"></div>
      <% end %>
    </div>
  </div>

  <!-- Page bottom -->
  <% if !@team.new_entry? and !@team.facebook.blank? %>
      <div class="row">
        <div class="col-12">
          <%= render :partial => 'teams/beneficiaries', :locals => {:team => @team, :wide => true} %>
        </div>
      </div>
  <% end %>
</div>