<%
  if obj.class==Beneficiary
    beneficiary=obj
  else
    beneficiary=obj.beneficiary
  end
%>

<div class="card">
  <div class="card-header beneficiary-header">
    <div class="beneficiary-label"><a href="<%= beneficiary_path(beneficiary) %>"><%= beneficiary.name %></div></a>
  </div>
  <div class="card-block beneficiary-logo">
    <a href="<%= beneficiary_path(beneficiary) %>"><%= image_tag beneficiary.logo(:thumb)%></a>
  </div>
  <% if obj.class==Grant %>
    <div class="card-header beneficiary-header">
      <div class="beneficiary-label">$<%=  number_with_precision(obj.grant_dollars, precision: 0, delimiter: ',') %></div>
    </div>
  <% end %>
</div>
