<% title(@ben.name) %>

<% breadcrumb [["beneficiaries","Beneficiaries"],[beneficiary_path(@ben).sub!('/',''),@ben.name]] %>

<%
  description=@ben.name + ' ' + @ben.description
  unless @ben.grant_description_default.blank?
    description+=@ben.name + ' has used funds provided by the Elephant Charge ' + @ben.grant_description_default + '.'
  end
  description+=@ben.name + ' has been provided ' + @grants.count.to_s + ' grant' + (@grants.count>1 ? 's':'') +' by the Elephant Charge totalling '
  description+= '$' + number_with_precision(@ben.grant_dollars, precision: 0, delimiter: ',') + '.'

  content_for :metas,
              (render :partial => 'layouts/metas', :locals => {
                  :page_title => 'Elephant Charge - ' + @ben.name,
                  :description => description,
                  :og_image_path => image_path(@ben.logo(:original)).split("?")[0]
              })
%>

<div class="container-fluid">

<div class="row">
  <div class="col-lg-8 ">
    <div class="card">
      <div class="card-header">
        <h5  style="display:inline-block;"><%= @ben.name %></h5>
        <div class="ben-links">
          <% unless @ben.facebook.blank? %>
              <a data-toggle="tooltip" data-placement="top" title="Facebook Page" target="_blank" href="<%= @ben.facebook %>"><img style="margin-left:10px;" src="<%= image_path('icons/grey/facebook.png')%>"></a>
          <% end %>
          <% unless @ben.website.blank? %>
              <a data-toggle="tooltip" data-placement="top" title="Website" target="_blank" href="<%= @ben.website %>"><img style="margin-left:10px;" src="<%= image_path('icons/grey/link.png')%>"></a>
          <% end %>
        </div>
        <div style="margin-bottom:5px;">
          <div id="fb-like" class="fb-like" data-href="<%= request.original_url%>" data-layout="button" data-action="like">
          </div>
          <div class="fb-share-button" data-href="<%= request.original_url%>" data-layout="button">
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="row">
        <div class="col-sm-4 ben-map">
          <img alt="<%= @ben.name%> Map" src="<%= image_path('maps/' + @ben.geography + '.png')%>"/>
          <div class="ben-map-text"><%=@ben.geography_description%></div>
        </div>
        <div class="col-sm-8 ">
          <p>
          <img  alt="<%= @ben.name%> Logo" style="float:right;" src="<%= @ben.logo(:thumb)%>"/>
          <%= bold{ @ben.name }%> <%= @ben.description %>
          </p>
          <% unless @ben.grant_description_default.blank? %>
          <p>
            <%= bold{ @ben.name }%> has used funds provided by the Elephant Charge <%= @ben.grant_description_default%>
          </p>
          <% end %>
          <p>
            <%= bold{ @ben.name }%> has been provided <%= bold {@grants.count.to_s} %> grant<%= @grants.count>1 ? 's':''%> by the Elephant Charge totalling
            <%= bold{ '$' + number_with_precision(@ben.grant_dollars, precision: 0, delimiter: ',') }%>.
          <ul>
            <% @grants.each do |grant| %>
              <li style="<%= grant.description.blank? ? '' : 'padding-bottom:10px;' %>"><%= bold{ '$' + number_with_precision(grant.grant_dollars, precision: 0, delimiter: ',') }%> -
                <a href="<%= charge_path(grant.charge)%>"><%= grant.charge.name%></a>
                <% unless grant.description.blank? %>
                  - <%= grant.description %>
                <% end %>
            <% end %>
            </li>
          </ul>
          </p>
        </div>
        </div>
      </div>
    </div>
    </div>
    <div class="col-lg-4 ">
      <% unless @ben.facebook.blank? %>
      <div id="fb-page" class="fb-page" data-href="<%= @ben.facebook %>" data-tabs="timeline" data-width="400" data-height="600" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
        <% end %>
      </div>
    </div>
</div>


</div>