
<div class="card">

    <div class="card-header">
        <a href="<%= entry_path entry %>">
      <h6><b><%= entry.car_no%></b> <%= entry.team.long_name %></h6>
      </a>
    </div>

  <div class="card-block" style="padding:5px;">
    <a href="<%= entry_path entry %>">
    <%= render :partial => 'photos/photo', :locals => {:photo => entry.photo_random_landscape} %>
    </a>
  </div>
  <div class="card-block" style="text-align: center;padding-top:0px;">
    <%= render :partial => 'entries/entry_description', :locals => {:entry => entry} %>

  </div>
</div>