
<div class="card">

    <div class="card-header">
        <a href="<%= entry_path entry %>">
      <h6><b><%= entry.car_no%></b> <%= entry.team.long_name %></h6>
      </a>
    </div>

  <div class="card-block" style="padding:5px;">
    <%
      photo=entry.photo_random_landscape
      p=render :partial => 'photos/photo', :locals => {:photo => photo}
    %>
    <%=
      if photo
        link_to p,photo_path(photo) + '?return=' + request.path
      else
        p
      end
    %>
  </div>
  <div class="card-block" style="text-align: center;padding-top:0px;">
    <%= render :partial => 'entries/entry_description', :locals => {:entry => entry} %>

  </div>
</div>