<%= render 'photos/photomodal' %>

<div class="col-md-8">
  <div class="card">
    <div class="card-header">
      <h3><a href="<%= team_path(@team)%>">Car <%= @entry.car_no%> - <%= @team.long_name %></a> - <a href="<%= charge_path(@charge)%>"><%= @charge.name %></a></h3>
    </div>
    <div class="card-block">
      <%= @entry.car.description %>
      <a onclick="showModal(this)" data-image="<%= image_url(@photo.photo(:original))%>" data-description="<%= @photo.caption%>">
        <%= image_tag @photo.photo(:medium) %>
      </a>
    </div>
  </div>
</div>
<!-- photos -->


<!-- downloads -->

<!-- sponsors -->

<!-- beneficiaries -->

<!-- CAR -->

<!-- awards and result summary -->


<!-- LEGS -->
<div class="col-lg-8">
<table class="table">
  <% @entry_legs.each_with_index do |el,i| %>
    <tr>
      <td><%= bold {small_caps {'leg'}} %> <%= i+1 %></td>
      <td class="high-column">
        <a href="javascript:void(0)" class="map-selector" data-entry-leg-id="<%= el.id%>">
          <i><%= el.guard_from.name %></i> <%= small_caps {'to'} %> <i><%= el.guard_to.name %></i>
        </a>
      </td>
      <td>
        <%= format_position(el.position) %> <%= small_caps {'of'} %> <%= el.leg.entries.count %>
      </td>
      <td>
        <%= bold {format_meters(el.distance_m)}  %> <%= small_caps {'in'} %> <%= format_seconds(el.elapsed_s) %>
        <%= small_caps {'at'} %> <%= number_with_precision(el.speed,precision:1) %>kmh
      </td>
      <td>
        <%= number_with_precision(el.multiple,precision:2) %><%= small_caps {'x leg of'}%> <%= format_meters(el.leg.distance_m)  %>
      </td>
    </tr>
  <% end %>
</table>
</div>


<!-- map -->
<div class="col-lg-4">
  <div class="card">
    <div class="card-block">
      <div id='map-entry'
           data-center-lat="<%= @charge.map_center_latitude %>"
           data-center-lon="<%= @charge.map_center_longitude %>"
           data-scale="<%= @charge.map_scale %>"
           data-charge="<%= @charge.ref %>"
           data-entry="<%= @entry.id %>"
      >

      </div>
    </div>
  </div>
</div>