<script>
  ga('set', 'contentGroup1', 'PhotoGroup');
</script>

<%

  if @photo.photoable.is_a?(Entry)
    title(@photo.photoable.team.long_name)
    content_for :metas,
                (render :partial => 'layouts/metas', :locals => {
                    :page_title => "#{@photo.photoable.team.name} in the #{@photo.photoable.charge.name}",
                    :description => clean_html(render(:partial => 'entries/entry_description', :locals => {:entry => @photo.photoable})),
                    :og_image_path => image_path(@photo.photo(:original)).split("?")[0]
                })
  else
    title(@photo.photoable.long_name)
    content_for :metas,
                (render :partial => 'layouts/metas', :locals => {
                    :page_title => "Elephant Charge",
                    :description => @photo.photoable.long_name,
                    :og_image_path => image_path(@photo.photo(:original)).split("?")[0]
                })
  end

%>

<div class="container-fluid" data-views="<%= @photo.views %>">
  <div class="row justify-content-center">
    <div class="col-md-12 col-lg-11 col-xl-8">
      <div class="card">
        <div class="card-header">
          <% if @photo.photoable.is_a?(Entry) %>

              <h5 style="display:inline-block;">
                <a href="<%= entry_path(@photo.photoable) %>"><%= @photo.photoable.team.name %>
                in the <%= @photo.photoable.charge.long_name %></a>
              </h5>

              <div style="float:right;display: block;">
                <% if params[:return].blank? %>
                    <a href="<%= entry_photos_path(@photo.photoable) %>"><b>Back</b></a>
                <% else %>
                    <a href="<%= params[:return] %>"><b>Back</b></a>
                <% end %>
              </div>
              <div style="margin-bottom:5px;">
                <%= render :partial => 'application/fbbuttons' %>
              </div>
          <% else %>
              <h5 style="display:inline-block;">
                <a href="<%= charge_path(@photo.photoable) %>"><%= @photo.photoable.long_name %></a>
              </h5>
              <div style="float:right;display: block;">
                <% if params[:return].blank? %>
                    <a href="<%= charge_photos_path(@photo.photoable) %>"><b>Back</b></a>
                <% else %>
                    <a href="<%= params[:return] %>"><b>Back</b></a>
                <% end %>
              </div>
              <div style="margin-bottom:5px;">
                <%= render :partial => 'application/fbbuttons' %>
              </div>
          <% end %>
        </div>
        <div class="card-block">
          <div class="container-fluid">
            <div class="row justify-content-center" style="padding-top:5px;padding-bottom:5px;">
              <% if @photo.photoable.is_a?(Entry) %>
                  <div class="col-md-2" style="margin-left:20px;margin-right:20px;margin-bottom:10px;">
                    <div class="card" style="padding-top:15px;padding-left:15px;padding-right:15px;padding-bottom:25px;">
                      <span><a href="<%= team_path(@photo.photoable.team) %>"><%= @photo.photoable.team.name %></a><br><%= render(:partial => 'entries/entry_description', :locals => {:entry => @photo.photoable}) %></span>
                    </div>
                  </div>
              <% end %>
              <div class="col-md-auto">
                <img style="max-width: 100%" class="rounded" src="<%= image_path(@photo.photo(:original)) %>" alt="<%= @photo.caption %>">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>