<% title('Cars') %>

<% breadcrumb [["cars","Cars"]] %>

<div class="container-fluid">
  <div class="row">
    <% @makes.each do |m| %>
      <div class="col-md-6 ">
        <div class="card">
          <div class="card-header">
            <h6 style="display:inline-block;"><a href="/car/<%= m.ref%>"><%= m.name %></a></h6>
          </div>
          <div class="card-block">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-3">
                  <% photo=m.photos.order("RANDOM()").first
                    p=render :partial => 'photos/photo', :locals => {:photo => photo}
                  %>
                  <div class="image-container">
                    <%=
                      if photo
                        link_to p,photo_path(photo) + '?return=' + request.path
                      else
                        p
                      end
                    %>
                  </div>
                </div>
                <div class="col-md-9">
                  <% teams=m.teams.distinct %>
                  <% cars=m.cars %>
                  <%= bold { cars.count.to_s } %> car<%= cars.count>1 ? 's' : '' %>
                  entered <%= bold { m.entries.count.to_s } %> time<%= m.entries.count>1 ? 's' : '' %>
                  with <%= bold { teams.count.to_s } %> team<%= teams.count>1 ? 's' : '' %>
                  <ul style="padding-left: 15px;margin-top:10px;">
                    <% m.honours.each do |h| %>
                        <li><%= h.html_safe %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
