<% if items.count>show %>
  <div class="collapse-toggler">
    <a class="collapsed" data-toggle="collapse" href="#<%= list_id %>" aria-expanded="false" aria-controls="<%= list_id %>">
      <%= image_tag 'down.png' %>
    </a>
  </div>
<% end %>
<ul>
  <%
    items.each_with_index do |e, i|
      if i<show
  %>
          <li>
            <%= yield e,i %>
          </li>
      <%
        end
        end
      %>

  <div class="collapse" id="<%= list_id %>">
    <%
      items.each_with_index do |e, i|
        if i>=show
    %>
            <li>
              <%= yield e,i %>
            </li>
        <%
          end
          end
        %>
  </div>
</ul>