<% title('Get Involved') %>

<% breadcrumb [["getinvolved", "Get Involved"]] %>

<%
  description="Get involved in the Elephant Charge, Zambia's biggest conservation fundraising event. Support conservation by entering a team, sponsoring or giving your time."

  content_for :metas,
              (render :partial => 'layouts/metas', :locals => {
                  :page_title => 'Elephant Charge - Get Involved',
                  :description => description,
                  :og_image_path => URI.join(root_url, image_path('banners/b' + (rand(20)+1).to_s + '.jpg'))
              })
%>

<div style="font-size: 0.85rem;" class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-10">
      <div class="card">
        <div class="card-header">
          <h5 style="display:inline-block;">How to Get Involved in the Elephant Charge</h5>
          <div style="margin-bottom:5px;">
            <div id="fb-like" class="fb-like" data-href="<%= request.original_url %>" data-layout="button" data-action="like">
            </div>
            <div class="fb-share-button" data-href="<%= request.original_url %>" data-layout="button">
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="container-fluid">
            <div class="row justify-content-center">
              <div class="col-xs-12 col-sm-2">
                    <a target="_blank" href="http://www.fuchsoil.co.za/">
                      <img class="mx-auto d-block" style="width:90px;margin-bottom: 10px;" src="<%= image_path('logo/fuchs.png') %>"/>
                    </a>
              </div>
              <div class="col-xs-12 col-sm-10">
                There are many ways to get involved in the Elephant Charge and support conservation in Zambia
                through our fantastic <a href="/beneficiaries">beneficiary organisations</a>.
                <ul>
                  <li><a href="#enter">Enter your team or join an existing team</a></li>
                  <li><a href="#sponsor">Sponsor a team or the Elephant Charge event</a></li>
                  <li><a href="#help">Help out at the event</a></li>
                  <li><a href="#help">Bring your skills to the organising committee</a></li>
                </ul>

              </div>
            </div>
          </div>
          <div class="card">
            <div id="enter" class="card-header"><h6>Enter a Team</h6></div>
            <div class="card-block">
              <img style="padding:5px;" align="right" src="<%=Photo.find_by_id(1556).photo(:medium)%>">
              <p>Enter a team for the Fuchs Elephant Charge 2017, help raise money for conservation and
                have a incredible weekend of off-road excitement in the Zambian bush.</p>
              <p>
                You don't need a specialised vehicle to enter the Elephant Charge, anything will do
                so long as you don't mind it getting a few scrapes and bumps. Teams can be between 4 and 6 people. You
                will
                be camping in a wonderful part of the Zambian bush for at least two nights over the Elephant Charge
                weekend
                and we try to choose a venue each year which is easy to reach from Lusaka and familly friendly.
              </p>
              <p>
                Entry fees for teams are $500 - or a discounted rate of $400 is you sign up before the end of July.
                In addition you must make a minimum pledge to the Charge Beneficiaries of $800. The purpose of the
                Elephant Charge
                is to raise as much money for conservation and of course you are encouraged to use whatever fundraising
                ideas
                or sponsorship you can to increase your total. The most prestigious award given at the Charge is
                the <b><i>Sausage Tree Trophy</i> for the Highest Sponsorship Raised</b> and this is the trophy everyone
                is
                trying to get their hands on.
              </p>
              <p>
                If you are interested in entering a team and joining the charge then please contact us by email on
                <a href="mailto:info@elephantcharge.org">info@elephantcharge.org</a> or through our <a href="http://facebook.com/ElephantCharge" target="_blank">facebook page</a>
                and we can explain more about how the charge works and what you need to do to enter.
              </p>
            </div>
          </div>
          <div class="card">
            <div id="sponsor" class="card-header"><h6>Sponsor</h6></div>
            <div class="card-block">
              <img style="padding:5px;" align="left" src="<%=Photo.find_by_id(1502).photo(:medium)%>">
              <p>Your company can get amazing exposure and support Zambia's most important conservation fundraising event
              by becoming a sponsor of an Elephant Charge <a href="/2017/teams">team</a> or of the event itself.</p>
              <p>Sponsorship for teams and for the event is welcomed in-kind as well as in the form of cash and
              we have a number of different packages available to suit your budget.</p>
              <p>If you are interested in sponsoring a team or the Elephant Charge event then please contact us by email on <a href="mailto:info@elephantcharge.org">info@elephantcharge.org</a>
                or through our <a href="http://facebook.com/ElephantCharge" target="_blank">facebook page</a>.
              </p>

            </div>
          </div>
          <div class="card">
            <div id="help" class="card-header"><h6>Help Out or Join the Committee</h6></div>
            <div class="card-block">
              <p>
                A huge number of people volunteer their time throughout the year and over the Elephant Charge weekend
                to organise and stage this fantastic event. Willing hands are always welcome to help with organisation and
                administration, logistics, camp and course building, transport, marshalling and a host of other activities which are needed to make the charge
                run smootly.
              </p>
              <p>If you are interested in heling out or joining the organising committee then please contact us by email on <a href="mailto:info@elephantcharge.org">info@elephantcharge.org</a>
                or through our <a href="http://facebook.com/ElephantCharge" target="_blank">facebook page</a>.
              </p>

            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>