<!--
<div class="container-fluid">
  <div class="row">
    <div class="col floater-sm hidden-md-up">
      <div class="countdown d-flex align-items-center">
        <a href="<%= charge_entries_path(@current_charge)%>">
          Support conservation by making a paypal donation directly on the team pages
        </a>
      </div>
    </div>
  </div>
</div>
-->
<div id="banner" class="banner">
  <div class="floater-lg hidden-sm-down ">
    <div class="countdown d-flex align-items-center">
      <div>
        <a target="_blank" href="http://www.fuchsoil.co.za/">
          <img style="width:100%" src="<%= image_path('logo/fuchs.png') %>"/>
        </a>
      </div>
      <div>
          The <%= @current_charge.name %> will be held on <%= @current_charge.charge_date.strftime('%e %B') %>.<br/>
          - <%= (@current_charge.charge_date-DateTime.now).to_i %> days to go -
      </div>
    </div>
    <!--<div class="countdown  d-flex align-items-center">
      <a href="<%= charge_entries_path(@current_charge)%>">
        Support conservation by making a paypal donation directly on the team pages
      </a>
    </div>-->
  </div>

  <ul>
    <li>
      <div class="car-container">
        <a href="/about">
        <img src="<%= image_path('slides/slide4.jpg') %>"/>
        <div class="car-caption">
          <h3>Elephant Charge</h3>
          The <b>Elephant Charge</b> is an annual 4x4 event held in <b>Zambia</b> to raise money for conservation through education.
          Teams compete against each other and the Zambian bush to complete a gruelling course in the shortest
          distance.
        </div>
        </a>
      </div>
    </li>
    <li>
      <div class="car-container">
        <a href="/beneficiaries">
        <img src="<%= image_path('slides/slide7.jpg') %>"/>
        <div class="car-caption">
          <h3>Conservation through education</h3>
          The Elephant Charge is Zambia's biggest conservation fundraising event.
          Since <b>2008</b>, the Elephant Charge has raised
          <%= bold { '$' + number_with_precision(@raised, precision: 0, delimiter: ',') } %> for conservation in
          Zambia.
        </div>
        </a>
      </div>
    </li>
    <li>
      <div class="car-container">
        <a href="/beneficiaries">
        <img src="<%= image_path('slides/slide6.jpg') %>"/>
        <div class="car-caption">
          <h3>Conserving Zambia</h3>
          Since 2008, <b><%= @teams.count %></b> Elephant Charge teams have supported
          <b><%= @grants.count %></b> grants provided to <b><%= @beneficiaries.count %></b> charities working
          across
          Zambia
          to preserve our wildlife and environment through conservation and education.
        </div>
        </a>
      </div>
    </li>

  </ul>
</div>


<div class="container-fluid">
  <div class="row ruled">
    <div class="col home-text">
      <img class="hidden-xs-down" src="<%=image_path('logo/eclogo_orange.png')%>">
      <div>
        <p>
        <b><%=@current_entries.count%></b> teams have already entered the <a href="<%= charge_path(@current_charge)%>"><%= @current_charge.name %></a>.
        </p>
        <p>
        Support the <a href="<%= charge_entries_path(@current_charge)%>">teams</a>
        or <a href="/getinvolved">enter your own</a> and take part in an extreme 4x4 event supporting wildlife conservation in Zambia.
        </p>
      </div>
    </div>
    <% @current_entries.first(5).each_with_index do |entry, i| %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <%= render :partial => '/teams/teamcard', :locals => {:team => entry.team} %>
        </div>
    <% end %>

  </div>

  <div class="row ruled">
    <div class="col home-text">
      <img style="width:100px;" src="<%= image_path('logo/fuchs.png') %>"/>
      <div>
        <p>
          The <a href="<%= charge_path(@current_charge)%>"><%= @current_charge.name %></a> relies on the sponsors who support Zambia's largest conservation
          fundraising event with donations, in-kind assistance and helping out through the year and on the day of the event.
        </p>
      </div>
    </div>

    <div style="text-align: center;" class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
      <div class="container-fluid">
        <%= render :partial => 'sponsors/charge_sponsors', :locals => {:charge => @current_charge} %>
      </div>
    </div>
  </div>

  <div class="row ruled">
    <div class="col home-text">
      <img  class="hidden-xs-down" src="<%=image_path('logo/eclogo_orange.png')%>">
      <div>
        <p>
          The Elephant Charge teams have supported <a href="/beneficiaries"><%= @beneficiaries.count %> conservation organisations</a> and projects since 2008 with
          grants totalling <%= bold{'$' + number_with_precision(@raised, precision: 0, delimiter: ',')}  %>.
          The money raised by the <a href="<%= charge_entries_path(@current_charge)%>">teams</a> during the last Elephant Charge supported conservation in <b>Zambia</b> through grants to the following
          organisations and projects:
        </p>
      </div>
    </div>


    <div style="text-align: center;" class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
      <div class="container-fluid">
        <div class="row">
        <% @current_beneficiaries.each_with_index do |b, i| %>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
              <%= render 'beneficiaries/beneficiarythumb', obj: b %>
            </div>
        <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
