<%
  title('EC ' + @charge.ref)

  desc="The #{@charge.long_name} will be held on #{@charge.charge_date.strftime('%e %B %Y')}. Teams will be competing against each other and the wild terrain to raise money for wildlife conservation in Zambia."

  content_for :metas,
              (render :partial => 'layouts/metas', :locals => {
                  :page_title => @charge.long_name,
                  :description => desc,
                  :og_image_path => image_path('/logos/eclogo_orange.png')
              })
%>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header">
          <h5  style="display:inline-block;"><%= @charge.long_name %></h5>
          <div style="float:right;display: block;">
            <a data-toggle="tooltip" data-placement="top" title="Results"  href="<%=  charge_path(@charge) %>"><img style="margin-left:10px;" src="<%= image_path('icons/color/results.png')%>"></a>
            <a data-toggle="tooltip" data-placement="top" title="Teams" href="<%=  charge_entries_path(@charge) %>"><img style="margin-left:10px;" src="<%= image_path('icons/grey/car.png')%>"></a>
          </div>
          <div style="margin-bottom:5px;">
            <div id="fb-like" class="fb-like" data-href="<%= request.original_url%>" data-layout="button" data-action="like">
            </div>
            <div class="fb-share-button" data-href="<%= request.original_url%>" data-layout="button">
            </div>
          </div>
        </div>
        <div class="card-block">
          <%
            @name_sponsors=@charge.charge_sponsors.naming
          %>
          <div class="container-fluid">
            <div class="row">
              <% if @name_sponsors.count>0 %>
              <div class="col-2" style="padding:0px;">
                  <img style="max-width:100%;" src="<%= image_url(@name_sponsors[0].sponsor.logo(:thumb)) %>">
              </div>
              <% end %>
              <div class="col">
                <p>
                  The <b><%= @charge.long_name %></b> will be held on <%= @charge.charge_date.strftime('%e %B %Y') %> and <a href="<%= charge_entries_path(@charge)%>"><%=@charge.entries.count%> teams</a> have already entered the charge.
                </p>
                <p>
                  Support the <a href="<%= charge_entries_path(@charge)%>">teams</a>
                  or enter your own and take part in an extreme 4x4 event supporting wildlife conservation in Zambia.
                </p>
              </div>
              <% if @name_sponsors.count>1 %>
              <div class="col-2" style="padding:0px;">
                  <img style="max-width:100%;" src="<%= image_url(@name_sponsors[1].sponsor.logo(:thumb)) %>">
              </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="container-fluid">
            <%= render :partial => 'sponsors/charge_sponsors', :locals => {:charge => @charge} %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <%= render :partial => '/charges/charge_beneficieries', :locals => {:charge => @charge, :grants=>@grants}  %>
    </div>
  </div>
</div>


