<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header">
          <h5  style="display:inline-block;"><%= @charge.long_name %></h5>
          <div style="float:right;display: block;">
            <a data-toggle="tooltip" data-placement="top" title="Results"  href="<%=  charge_path(@charge) %>"><img style="margin-left:10px;" src="<%= image_path('icons/color/results.png')%>"></a>
            <a data-toggle="tooltip" data-placement="top" title="Teams" href="<%=  charge_entries_path(@charge) %>"><img style="margin-left:10px;" src="<%= image_path('icons/grey/car.png')%>"></a>

          </div>
        </div>
        <div class="card-block">
          <%
            @name_sponsors=@charge.charge_sponsors.naming
            @major_sponsors=@charge.charge_sponsors.major.order("RANDOM()").limit(6)
            @cp_sponsors=@charge.sponsors.order("RANDOM()")
          %>
          <div class="container-fluid">
            <div class="row">
              <% if @name_sponsors.count>0 %>
              <div class="col-2">
                  <img style="max-width:100%;" src="<%= image_url(@name_sponsors[0].sponsor.logo(:thumb)) %>">
              </div>
              <% end %>
              <div class="col">
                <p>
                  The <b><%= @charge.long_name %></b> will be held on <%= @charge.charge_date.strftime('%e %B %Y') %> and <a href="<%= charge_entries_path(@charge)%>"><%=@charge.entries.count%> teams</a> have already entered the charge.
                </p>
                <p>
                  Support the <a href="<%= charge_entries_path(@charge)%>">teams</a>
                  or enter your own and take part in an extreme 4x4 event supporting wildlife conservation in Zambia.
                </p>

              </div>
              <% if @name_sponsors.count>1 %>
              <div class="col-2">
                  <img style="max-width:100%;" src="<%= image_url(@name_sponsors[1].sponsor.logo(:thumb)) %>">
              </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="container-fluid">
            <div class="row">
              <% @cp_sponsors.each do |sp| %>
                  <div class="col-4 col-sm-2 col-md-2 col-lg-1" style="margin:auto;">
                    <a target="_blank" href="<%= sp.website%>">
                      <img class="img-fluid mx-auto d-block" src="<%= image_url(sp.logo(:thumb)) %>">
                    </a>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="container-fluid">

          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <%= render :partial => '/charges/charge_beneficieries', :locals => {:charge => @charge, :grants=>@grants}  %>
    </div>
  </div>
</div>


