<nav class="navbar navbar-dark">

  <!-- Larger  -->
  <div class="hidden-sm-down float-xs-left ">
    <table>
      <tr>
        <td><%= image_tag('eclogo-lg.png') %></td>
      </tr>
      <tr>
        <td><div class="tagline">Dust, sweat & gears</div></td>
      </tr>
    </table>


  </div>


  <!-- Smaller  -->
  <div class="hidden-md-up ">
    <div class="head-logo"><%= image_tag('eclogo-sm.png') %></div>
    <div class="brand">Elephant<br/>Charge
      <div class="tagline-sm">Dust, sweat & gears</div>
    </div>
  </div>
  <button class="navbar-toggler hidden-md-up float-xs-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>

  <!-- Common  -->
  <div class="collapse navbar-toggleable-sm head-navbar float-xs-right" id="navbarResponsive">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link <%= current_controller=='application' ? 'active' : '' %>" href="/">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= current_controller=='teams' ? 'active' : '' %>" href="/teams">Teams</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= current_controller=='beneficiaries' ? 'active' : '' %>" href="/beneficiaries">Conservation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= current_controller=='charges' ? 'active' : '' %>" href="/charges">Charges</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= current_controller=='cars' ? 'active' : '' %>" href="/cars">Cars</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= current_controller=='info' ? 'active' : '' %>" href="#">Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= current_controller=='contact' ? 'active' : '' %>" href="#">Contact</a>
      </li>
    </ul>

  </div>
</nav>