<div class="head-banner">
  <img style="transform: none;" src="<%= image_url('banners/b' + (rand(20)+1).to_s + '.jpg')%>"/>
</div>
<div class="head">
  <div class ="head-logo"><img src="<%= image_url('eclogo.png')%>"/></div>

  <div style="float:left;">
  <div class="head-text">Elephant Charge</div>
  <div class="head-tagline">Dust,sweat & gears</div>
  </div>
  <div style="float:right;">

    <div class="head-message">4X4 FOR WILDLIFE CONSERVATION IN ZAMBIA</div>
  </div>
</div>
<nav class="head-nav">
  <a class="head-nav-link <%= current_controller=='application' ? 'active' : '' %>" href="/">About</a>
  <a class="head-nav-link <%= current_controller=='teams' ? 'active' : '' %>" href="/teams">Teams</a>
  <a class="head-nav-link <%= current_controller=='beneficiaries' ? 'active' : '' %>" href="/beneficiaries">Beneficiaries</a>
  <a class="head-nav-link <%= current_controller=='charges' ? 'active' : '' %>" href="/charges">Charges</a>
  <a class="head-nav-link <%= current_controller=='info' ? 'active' : '' %>" href="#">Info</a>
  <a class="head-nav-link <%= current_controller=='contact' ? 'active' : '' %>" href="#">Contact</a>



  <a class="wsite-social-item wsite-social-instagram" href="//instagram.com/elephant.charge.zambia" target="_blank"><span class="wsite-social-item-inner"></span></a>
  <a class="wsite-social-item wsite-social-twitter" href="//twitter.com/elephantcharge1" target="_blank"><span class="wsite-social-item-inner"></span></a>
  <a class="wsite-social-item wsite-social-facebook" href="//facebook.com/ElephantCharge" target="_blank"><span class="wsite-social-item-inner"></span></a>
</nav>