<!DOCTYPE html>
<html>
<head>
  <title>Elephant Charge</title>
  <description>The Elephant Charge is an annual 4x4 event held in Zambia to raise money for wildlife conservation.</description>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=xQoRar3KEd">
  <link rel="icon" type="image/png" href="/favicon-32x32.png?v=xQoRar3KEd" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png?v=xQoRar3KEd" sizes="16x16">
  <link rel="manifest" href="/manifest.json?v=xQoRar3KEd">
  <link rel="mask-icon" href="/safari-pinned-tab.svg?v=xQoRar3KEd" color="#5bbad5">
  <link rel="shortcut icon" href="/favicon.ico?v=xQoRar3KEd">
  <meta name="theme-color" content="#ffffff">



  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<div id="fb-root"></div>

<%= render 'layouts/header' %>

<div class="container">

  <div class="row">

    <%= yield %>

  </div>
</div>

<%= render 'layouts/footer' %>

</body>
</html>