<!DOCTYPE html>
<html>
<head>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://www.elephantcharge.org",
      "name": "Elephant Charge",
      "logo": "https://www.elephantcharge.org/eclogo_orange.png",
      "contactPoint": [{
        "@type": "ContactPoint",
        "telephone": "+26 0977 720 696",
        "contactType": "customer service"
      }],
      "sameAs": [
        "http://facebook.com/ElephantCharge",
        "http://twitter.com/elephantcharge1",
        "http://instagram.com/elephant.charge.zambia"
      ]
    }
  </script>

  <title><%= if content_for?(:title) then yield(:title) + ' | ' end %>Elephant Charge</title>
  <% if content_for?(:breadcrumb) then %>
      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
            "itemListElement":
          <%= yield(:breadcrumb) %>
        }
      </script>
  <% end %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="msvalidate.01" content="922E3A5FA3E15D373BF6BF69EF4C1F52" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=xQoRar3KEd">
  <link rel="icon" type="image/png" href="/favicon-32x32.png?v=xQoRar3KEd" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png?v=xQoRar3KEd" sizes="16x16">
  <link rel="manifest" href="/manifest.json?v=xQoRar3KEd">
  <link rel="mask-icon" href="/safari-pinned-tab.svg?v=xQoRar3KEd" color="#5bbad5">
  <link rel="shortcut icon" href="/favicon.ico?v=xQoRar3KEd">
  <meta name="theme-color" content="#ffffff">

  <meta name="keywords" content="Elephant Charge, Zambia, 4x4, Conservation, Wildlife, Africa, Charity, Fundraising">

  <meta property="og:url" content="<%= request.original_url.split("?")[0]%>">

  <meta property="og:site_name" content="Elephant Charge">
  <meta property="og:type" content="website">
  <meta property="fb:app_id" content="428930324166412">

  <% if content_for?(:metas) %>
      <%= yield(:metas) %>
  <% else %>
      <meta name="description" content="Elephant Charge is an annual 4x4 event held in Zambia to raise money for wildlife conservation. Over the past 10 years the Elephant Charge has raised $650,000 for 17 Zambian conservation organisations.">
      <meta property="og:title" content="Elephant Charge">
      <meta property="og:description" content="Elephant Charge is an annual 4x4 event held in Zambia to raise money for wildlife conservation. Over the past 10 years the Elephant Charge has raised $650,000 for 17 Zambian conservation organisations.">
      <meta property="og:image" content="<%= URI.join(root_url, image_path('banners/b' + (rand(20)+1).to_s + '.jpg')) %>">
  <% end %>


  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
  <script src="https://use.fontawesome.com/e965e33498.js"></script>
  <% if Rails.env.production? %>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-7536864280513725",
          enable_page_level_ads: true
        });
      </script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-97446908-1', 'auto');
        ga('send', 'pageview');
      </script>
  <% end %>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '428930324166412',
        xfbml      : true,
        version    : 'v2.8'
      });
      <% if Rails.env.production? %>
      FB.AppEvents.logPageView();
      <% end %>
      FB.Event.subscribe('edge.create', function(url,obj) {
        ga('send', 'social', 'facebook', 'like', url);
      });
    };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
</head>

<body>

<div id="fb-root"></div>

<% if current_controller=='application' and current_action=='index' %>
    <%= render 'layouts/header_home' %>
<% else %>
    <%= render 'layouts/header' %>
<% end %>


  <!--<div class="row">-->

    <%= yield %>

  <!--</div>-->

<%= render 'layouts/footer' %>

</body>
</html>